{% extends 'layout.jinja2' %}

{% block subtitle %}Edit {{pagename}} - {% endblock subtitle %}

{% block content %}
<p>
Editing <strong>{{current}}</strong>
</p>
<p>You can return to the
<a href="{{request.route_url('view_page', pagename='FrontPage')}}">FrontPage</a>.
</p>
            <p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>this table should display a referenced object we will have to dereference it </th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
        {#    <% @courses.each do |course| %>#}
              <tr>

                <td>{{query}}</td>
                <td> <!--<%= link_to 'Show', course %>--> </td>
                <td><!--<%= link_to 'Edit', edit_course_path(course) %>--> </td>
                <td><!--<%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>--></td>
              </tr>
        {#    <% end %>#}
          </tbody>
        </table>
<!--<a href="{# {request.route_url('view_course', pagename='Courses')}#}">FrontPage</a>.-->
            </p>
<form action="{{ save_url }}" method="post">
<div class="form-group">
    <textarea class="form-control" name="body" rows="1" cols="1">{{ pagedata }}</textarea>
</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Save" class="btn btn-default">Save</button>
</div>
</form>
{% endblock content %}